* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {   
    background: linear-gradient(to right, #E65763, #34073D);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header h2 {
    color: white;
    padding-top: 30px;
    margin-bottom: 20px;
    font-weight: 200;
}

header input {   
    padding: 10px;
    width: 360px;      
    border-radius: 5px 0 0 5px;
    color: #34073D;
}

header input:focus {
    outline:none;  
}

#add {
    cursor: pointer;
    padding: 10PX;
    border: 1.2px solid ;
    border-radius: 0 5px 5px 0 ;
    display: flex;
    align-items: center;
}

#add:hover {
    background-color: #3c2f64;
    transition: .5s;       
}

.form {
    display: flex;
    justify-content: center;
}

#task {  
    display: flex;
    justify-content: right;
    align-items: center;

    padding-left: 10px;
    margin: 20px auto 0;
    border-radius: 3.5px;
    height: 40px;
    max-width: 393px;

    font-weight: bold;       
    background: white;  
    color: #34073D;
    box-shadow: 0 2.5px 4px black;
}

#task {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

#task div {
    display: flex;
    align-items: center;
}

#task ion-icon {
    font-size: 25px;
    cursor: pointer;
    padding: 7.3px 1.9px;
}

#task  ion-icon:nth-child(1):hover {
    background-color: green;
    transition: .5s;         
}

#task ion-icon:nth-child(2):hover {
    background-color: red;
    transition: .5s; 
}

.invisible {
   visibility: hidden;
}

